
.caja1 {
	background: rgb(255,254,0);
	width: 25%;
	height: 100px;
}
.caja2 {
	background: rgb(59,128,186);
	width: 25%;
	height: 100px;
}
.caja3 {
	background: rgb(238,33,81);
	width: 25%;
	height: 100px;
}
.padre {
	border:1px solid grey;
}